ANTET
@media (min-width: 768px) {

  .cover {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover;
  }

}

...

@media (min-width: 768px) {

  .hero-text {
    padding: 1.25rem;
    border-radius: 4px;
    width: 50%;
  }

  .hero-text h1 {
    font-size: 7rem;
  }

}

...

@media (min-width: 768px) {

  .tagline {
    text-transform: uppercase;
  }

}
LOCATIE
@media (min-width: 768px) {

  .blurb {
    display: inline-block;
    width: 30%;
    padding: 1.5rem;
    margin: .5rem;
  }

  .blurb::after {
    display: none;
  }

}
PROGRAM
@media (min-width: 768px) {

  .program-wrapper {
    width: 30vw;
    margin: 0 auto;
  }

}
Q&A
@media (min-width: 768px) {

  .question-group {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .5rem;
  }

  .question-group::after {
    display: none;
  }

  .question-group h3 {
    text-align: left;
  }

}
FOOTER
@media (min-width: 768px) {

  footer {
    min-height: 7vh;
  }

}